<h2><%= @restaurant.name %></h2>

<h4><%= @restaurant.address %></h4>

<p>Cuisine type: <%= @restaurant.category %></p>
<p>Phone number: <%= @restaurant.phone_number %></p>

<br>

<h3>Reviews:</h3>

<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= "⭐️" * review.rating %></li>
    <p><%= review.content %></p>
  <% end %>
</ul>

<div>
<%= link_to "<< Go back", restaurants_path, class: 'btn btn-secondary btn-sm mt-2' %>
<%= link_to "Add a new review", new_restaurant_review_path(@restaurant.id), class: 'btn btn-primary btn-sm mt-2' %>
</div>
